@font-face {
     font-family: Lato;
     src: url("./../fonts/Lato-Regular.ttf");
}

@font-face {
     font-family: Silo;
     src: url("./../fonts/Silhouetto-Script.ttf");
}

@font-face {
     font-family: OldStandard;
     src: url("/fonts/OldStandardTT-Regular.ttf");
}

@font-face {
     font-family: Montserrat;
     src: url("/fonts/Montserrat-Bold.ttf");
}

$black: #000;
$grey:#969696;
$grey2: #ececec;
$white: #fff;
$white2: #f9f9fa;

a{
     text-decoration: none;
     text-transform: uppercase;
     color:$grey;
     font-family: Lato,sans-serif;
     font-size:1.2rem;
     font-weight: 600;
}

a:hover{
     color:$black
}

h1{
     font-family: Silo;
     font-size: 14rem;
     font-weight: 400;
     color:$black;
     height: 14rem;
     width: fit-content;
     left:0;
     right:0;
     margin: 50px auto;
}

h2{
     font-family: OldStandardTT, sans-serif;
     font-size: 2.4rem;
     line-height: 1.6;
     margin-bottom: 20px;
     color:$black;
     text-transform: uppercase;
}

p{
     font-family: OldStandard;
     font-size: 2rem;
     line-height: 1.6;
     margin-bottom: 20px;
}

.underscore{
     width: 210px;
     height: 2px;
     margin-top: 20px;
     background-color: $grey2;
}

.center-line{
     width: 2px;
     background-color: $grey2;
     position: absolute;
     left: 0;
     right: 0;
     margin: auto;
}