$grey: #969696;

nav{
     border-top: 10px solid $grey;
}

ul{
     width: 90%;
     display: flex;
     justify-content: space-evenly;
     list-style-type: none;
     left: 0;
     right: 0;
     margin:12.5px auto;
}