@import "./../../variables";

#admin-page {
   display: flex;
   width: 100%;
   padding: 20px;
   button {
      margin-right: 20px;
   }
}

#error {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: fit-content;
   height: fit-content;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   z-index: 10;
}

#admin-left {
   margin-right: 40px;
   height: 90vh;
}
#post-list-container {
   overflow-y: scroll;
   height: 77vh;
   div {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-bottom: 20px;
      padding: 5px;
      p {
         font-family: Lato;
         margin: 0 10px 0 0;
         width: 160px;
         border-bottom: 1px solid $grey;
         overflow: hidden;
         text-overflow: ellipsis;
         display: -webkit-box;
         -webkit-line-clamp: 3;
         -webkit-box-orient: vertical;
      }
   }
}

#admin-right {
   width: 100%;
   position: relative;
   z-index: 1;
   #header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      h2 {
         margin: 0;
      }
      button {
         height: fit-content;
      }
   }

   #editor {
      height: 62vh;
      input {
         width: 160px;
         font-size: 2rem;
         margin-right: 40px;
      }
      .tox {
         margin-top: 40px;
      }
   }
}

#button-container {
   width: 100%;
   margin-top: 110px;
   display: flex;
   justify-content: flex-end;
   button:first-child {
      margin-right: auto;
   }
   button:last-child {
      margin-right: 0;
   }
}

#preview {
   width: 100%;
   height: calc(100% - 40px);
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   position: absolute;
   z-index: 2;
   background-color: $white2;
   h4 {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 2rem;
      cursor: pointer;
      text-transform: uppercase;
   }
   div {
      overflow-y: scroll;
      left: 0;
      right: 0;
      margin: auto;
      width: calc(100% - 40px);
      height: calc(100% - 50px);
      border: 1px solid $grey;
      margin-top: 20px;
      background-color: $white2;
   }
}

#status {
   width: 400px;
   height: fit-content;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   z-index: 5;
   background-color: $grey2;
   border-radius: 10px;
   h4 {
      font-size: 2.4rem;
      text-align: center;
   }
}

@media (max-width: 1034px) {
   #admin-page {
      flex-direction: column;
      align-items: center;
   }
   #admin-left {
      width: 100%;
      height: 400px;
      margin: 0;
      margin-bottom: 40px;
      #post-list-container {
         height: 320px;
      }
   }
}

@media (max-width: 450px) {
   #editor input:first-child {
      margin-bottom: 20px;
   }
   #button-container {
      margin-top: 140px;
   }
}
