@import "./../../../variables";

#mid-section-b {
   min-height: 756px;
   background-color: $grey2;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#mid-section-b-link-container {
   width: 810px;
   display: flex;
   align-items: center;
   position: relative;
   margin-bottom: 80px;
   h2 {
      color: $grey;
      font-size: 3rem;
      margin: 0;
   }
   a {
      font-family: Lato, sans-serif;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: 600;
      color: $black;
      margin-left: 30px;
   }
}

#mid-section-b-link-container::after {
   content: "";
   width: 500px;
   height: 1px;
   background-color: $black;
   position: absolute;
   bottom: 12px;
   left: 298px;
}

#mid-section-b-content {
   max-width: 890px;
   display: flex;
   div {
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   img {
      width: 405px;
      height: 264px;
      object-fit: cover;
      object-position: 0 80%;
   }
   img[alt="marble_table"] {
      object-position: 0 50%;
   }
   p {
      font-family: Lato, sans-serif;
      font-size: 1.2rem;
      text-transform: uppercase;
      width: fit-content;
      margin-top: 20px;
   }
   a {
      font-family: OldStandard, sans-serif;
      font-size: 1.8rem;
      font-weight: 400;
      color: $black;
      text-transform: initial;
      text-align: center;
   }
}

@media (max-width: 910px) {
   #mid-section-b-link-container {
      justify-content: center;
      a {
         border-bottom: 1px solid black;
      }
   }
   #mid-section-b-link-container::after {
      display: none;
   }
   #mid-section-b-content img {
      width: 45vw;
   }
}

@media (max-width: 840px) {
   #mid-section-b {
      justify-content: flex-start;
   }
   #mid-section-b-link-container {
      margin: 40px 0;
   }
   #mid-section-b-content {
      flex-direction: column;
      height: 872px;
      div {
         margin: 40px 20px;
      }
   }
}

@media (max-width: 480px) {
   #mid-section-b-link-container {
      flex-direction: column;
      align-items: center;
   }
   #mid-section-b-content div img {
      width: 100%;
   }
}
