@import "./../../../variables";

#mid-section-a {
   min-height: 1100px;
   position: relative;
}

#text-top {
   max-width: 350px;
   position: absolute;
   top: 150px;
   right: calc(50% + 177.5px);
   margin-left: 10px;
}

#text-bottom {
   max-width: 490px;
   position: absolute;
   bottom: 144px;
   left: calc(50% + 20px);
}

#pen {
   width: 380px;
   height: 500px;
   object-fit: cover;
   filter: grayscale(100%);
   position: absolute;
   right: 50%;
   bottom: 100px;
   z-index: 3;
}

#watch {
   width: 415px;
   height: 415px;
   object-fit: cover;
   object-position: top;
   position: absolute;
   left: 100px;
   right: 0;
   top: 150px;
   margin: auto;
   z-index: 2;
}

#street {
   width: calc(50% - 20px);
   height: 450px;
   object-fit: cover;
   filter: grayscale(100%);
   position: absolute;
   right: 0;
   top: 275px;
}

#mid-line {
   height: 100%;
   width: 2px;
   background-color: #ececec;
   position: absolute;
   left: 0;
   right: 0;
   margin: auto;
}

@media (max-width: 840px) {
   #text-top {
      right: initial;
   }
   #watch {
      display: none;
   }
}

@media (max-width: 780px) {
   #mid-section-a {
      display: flex;
      flex-direction: column;
   }
   #text-top {
      position: initial;
      right: initial;
      order: 2;
      margin: 0 20px 40px 20px;
      max-width: initial;
   }

   #pen {
      position: initial;
      order: 1;
      width: calc(100% - 40px);
      align-self: center;
      margin-bottom: 40px;
   }

   #street {
      position: initial;
      order: 3;
      width: calc(100% - 40px);
      align-self: center;
      margin-bottom: 40px;
   }

   #text-bottom {
      position: initial;
      order: 4;
      margin: 0 20px 40px 20px;
      max-width: initial;
   }

   #mid-line {
      display: none;
   }
}
