// Global styles
@import "./../../../index.scss";

#footer {
   background-color: $white;
   position: relative;
   h1 {
      font-family: Silo;
      font-size: 14rem;
      font-weight: 400;
      color: $black;
      height: 14rem;
      width: fit-content;
      left: 0;
      right: 0;
      margin: 50px auto;
   }
}

#footer-top {
   height: 570px;
   display: flex;
   align-items: center;
   position: relative;
}

#footer-text-container {
   max-width: 400px;
   position: absolute;
   right: calc(50% + 20px);
   margin-left: 10px;
   h1 {
      font-size: 20rem;
      color: $grey2;
      margin: 0;
   }
}

#footer-line {
   width: 2px;
   height: 100%;
   background-color: $grey2;
   position: absolute;
   left: 0;
   right: 0;
   margin: auto;
}

#footer-photos {
   position: absolute;
   left: calc(50% + 20px);
   img {
      width: 170px;
      height: 170px;
      object-fit: cover;
      margin: 5px;
   }
}

#footer-bottom {
   height: 114px;
   background-color: $white2;
   div {
      width: 2px;
      height: 100%;
      background-color: $grey2;
      left: 0;
      right: 0;
      margin: auto;
   }
}

@media (max-width: 840px) {
   #footer-top {
      flex-direction: column;
      height: fit-content;
   }

   #footer-text-container {
      all: initial;
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #footer-line {
      display: none;
   }

   #footer-photos {
      all: initial;
      left: 0;
      right: 0;
      margin: 40px auto;
      width: 360px;
   }
}
