#blog-mid-text-content {
   min-height: 440px;
   height: fit-content;
   background-color: $white2;
   display: flex;
   align-items: center;
   justify-content: center;
   img {
      width: 250px;
      height: 250px;
      object-fit: cover;
      margin-left: 20px;
      margin-right: 60px;
   }
   div {
      margin-right: 20px;
   }
   p {
      max-width: 750px;
   }
}

#blog-underscore {
   max-width: 750px;
   height: 1px;
   background-color: $grey;
}

#blog-mid-list {
   width: fit-content;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 60px;
   left: 0;
   right: 0;
   margin: auto;
   margin-bottom: 40px;
   margin-top: 80px;
   img {
      width: 500px;
      height: 350px;
      margin-bottom: 20px;
   }
   div {
      justify-self: center;
      align-items: center;
      width: fit-content;
      display: flex;
      flex-direction: column;
      margin-bottom: 100px;
      background-color: $white;
   }
}

@media (max-width: 1100px) {
   #blog-underscore {
      margin-bottom: 40px;
   }
   #blog-mid-list {
      grid-template-columns: 1fr;
   }
}

@media (max-width: 560px) {
   #blog-mid-text-content {
      flex-direction: column;
      img {
         margin: 20px 0;
      }
      div {
         margin: 0 20px;
      }
   }

   #blog-mid-list {
      img {
         width: 350px;
         height: 200px;
      }
   }
}
